<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - Pomodoro Pulse</title>

    <style>
        body{
            color: rgb(32, 32, 32);
            background-color: #EFEEEB;
            font-family: sans-serif;
            padding-left: 7%;
            padding-right: 7%;
        }

        h3{
            margin-top: 2.5rem;
            margin-bottom: -0.5rem;
        }

        p, li{
            font-weight: lighter;
        }
    </style>
</head>
<body>
    <h2>Privacy Policy</h2>
    <p><strong>Last updated: July 12, 2024</strong></p>

    <p>This privacy policy ("Policy") describes how Pomodoro Pulse ("we", "us", or "our") collects, protects, and uses the personal information ("Personal Information") you ("User", "you", or "your") may provide in the Pomodoro Pulse application and any of its products or services (collectively, "App" or "Services").</p>

    <h3>Collection of Personal Information</h3>
    <p>We receive and store any information you knowingly provide to us while using this app. This includes:</p>
    <ul>
        <li>OpenID provided by OAuth providers</li>
        <li>Username provided by OAuth providers</li>
        <li>Timezone information</li>
    </ul>
    <p>No other personal information will be collected or stored.</p>

    <h3>How We Use Your Information</h3>
    <p>The information you provide is used for the following purposes:</p>
    <ul>
        <li>To enhance or improve user experience, our App, or our Service.</li>
        <li>To personalize your experience in our App.</li>
        <li>To provide customer support.</li>
        <li>To be able to contact you with general or personalized service-related notices and promotional messages (if you opt-in).</li>
        <li>To create aggregated statistical data and other aggregated and/or inferred non-personal information, which we may use to provide and improve our respective services.</li>
    </ul>

    <h3>Storage and Security</h3>
    <p>We are committed to ensuring the security of your Personal Information. We store your information securely and use industry-standard protocols and technology to safeguard your data. </p>

    <h3>Your Rights</h3>
    <p>You have the right to access, update, or delete the information we have on you. If you wish to exercise these rights, please contact us through the App's support channels.</p>

    <h3>Links to Other Websites</h3>
    <p>Our app does not contain links to external websites that are not owned or controlled by us. We cannot be held responsible for the privacy practices or content of such websites.</p>

    <h3>Changes to This Privacy Policy</h3>
    <p>We reserve the right to modify this privacy policy relating to the App or Services at any time, effective upon posting of an updated version of this policy in the App. When we do, we will revise the updated date at the top of this page. Continued use of the App after any such changes shall constitute your consent to such changes.</p>

    <h3>Acceptance of This Policy</h3>
    <p>You acknowledge that you have read this Policy and agree to all its terms and conditions. By using the App or its Services you agree to be bound by this Policy. If you do not agree to abide by the terms of this Policy, you are not authorized to use or access the App and its Services.</p>

    <h3>Contacting Us</h3>
    <p>If you have any questions about this Policy, our practices, or your dealings with the App, please contact us through the App's support channels.</p>
</body>
</html>
