<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service - Pomodoro Pulse</title>

    <style>
        body{
            color: rgb(32, 32, 32);
            background-color: #EFEEEB;
            font-family: sans-serif;
            padding-left: 7%;
            padding-right: 7%;
        }

        h3{
            margin-top: 2.5rem;
            margin-bottom: -0.5rem;
        }

        p{
            font-weight: lighter;
        }
    </style>
</head>
<body>
    <h2>Terms of Service</h2>
    <p><strong>Last updated: May 11, 2024</strong></p>

    <h3>1. Acceptance of Terms</h3>
    <p>By accessing or using the Pomodoro Pulse application, you agree to be bound by these terms of service. If you disagree with any part of the terms, then you do not have permission to access the service.</p>

    <h3>2. Account Requirements</h3>
    <p>To use Pomodoro Pulse, you must authenticate via an OAuth provider and permit access to your profile information. Your email address is not required for the use of this service. Authentication is conducted solely through OAuth providers.</p>

    <h3>3. Intended Usage</h3>
    <p>The Pomodoro Pulse application is designed to assist users in learning and focusing using the Pomodoro technique. Any other use of the application is considered outside the scope of its intended use.</p>

    <h3>4. Changes to Terms</h3>
    <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
    <p>We will notify you about significant changes by posting a notice on our application.</p>

    <h3>5. Ownership and Rights</h3>
    <p>All intellectual property rights in and to the application are owned by Yiyang Xue. These rights are protected by copyright laws around the world and all rights are reserved.</p>

    <h3>6. Governing Law</h3>
    <p>These terms shall be governed and construed in accordance with the laws of California, without regard to its conflict of law provisions.</p>

    <h3>7. Contact Us</h3>
    <p>If you have any questions about these Terms of Service, please contact us.</p>
</body>
</html>
